{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
	<div class="flex flex-row justify-center">
		{{ component('card_home', {
	cardLink: 'https://tecdn.b-cdn.net/img/new/standard/nature/186.jpg',
	cardTitle: 'Card title',
})}}</div>
{% endblock %}
