{% extends 'base.html.twig' %}

{% block title %}ASPTT Marseille - Compétitions
{% endblock %}

{% block body %}


	<h1 class="golf-h1">Compétitions à l’ASPTT Marseille Golf</h1>
	<p class="golf-p">L’activité Compétitions de la section golf, c’est plus de 70 joueurs qui portent les couleurs de notre association dans la plupart des compétitions régionales et nationales. Pour entrainer ces joueurs des cours compétitions sont organisés avec un des meilleurs pro de la région Provence.</p>
	<p class="golf-p">
		<u>Championnats organisés par la Ligue de Golf Entreprises :</u>
	</p>
	<p class="golf-p">En tant qu’association reconnue par la FFGOLF nous pouvons participer aux championnats de ligues Entreprise. La composition des équipes est strictement réglementée par la Ligue de Provence.</p>
	<ul class="ml-6 list-disc golf-p">
		<li>Championnat par divisions : 4 équipes sont engagées dont l’une accédera à la Division 1 la saison prochaine. Il y a 6 journées de championnat et les équipes sont constituées de 4 joueurs.</li>
		<li>Championnat Match-Play: 1 équipe engagée en division 2. Il y a 7 journées de championnat. L’équipe est constituée de 4 joueurs.</li>
		<li>Championnat « 36+ » : réservé aux « débutants Compétitions ». Une équipe engagée. La compétition se déroule les 3 premières journées sur des 9 trous, la dernière sur un 18 trous.</li>
	</ul>
	<p class="golf-p">
		<u>Championnats Nationaux organisés par La Fédération Sportive des ASPTT:</u>
	</p>
	<ul class="ml-6 list-disc golf-p">
		<li>Un championnat de France annuel des ASPTT (Open ASPTT)</li>
		<li>Un championnat de France séniors (+de 50 ans)</li>
	</ul>
	<p class="golf-p">
		<u>Compétitions régionales:</u>
	</p>
	<p class="golf-p">Organisées conjointement par les sections golf des ASPTT de Nîmes, Nice, Aix, Toulon et Marseille.</p>
	<ul class="ml-6 list-disc golf-p">
		<li>Trophée Méditerranée. 5 épreuves (chaque section reçoit et organise à son tour). Compétitions individuelles et par équipes avec enregistrement des résultats à la FFG (évolution des index).</li>
		<li>Régional Match-play : une épreuve par an organisée à tour de rôle par les sections ci-dessus. Classement par équipes.</li>
	</ul>
	<p class="golf-p">
		<u>Compétition de section:</u>
	</p>
	<ul class="ml-6 list-disc golf-p">
		<li>Eclectic : Rencontre amicale sur deux tours joués sur le même parcours. Il est retenu pour chaque trous le meilleur score des deux jours. Pas de sélection. Les joueurs sont retenus dans l’ordre de leur inscription.</li>
		<li>Trophée Arnold Ghinsberg: Compétition amicale en formule match-play ouverte à tous les membres de la section. Finale chaque année le jour de la fête de la section.</li>
	</ul>
	<div class="flex flex-wrap justify-center py-4 lg:gap-20 mt-1 ml-2 mr-2 gap-8">
		<img src="{{asset('images/Competition.jpg')}}" alt="photo compétitions à l'ASPTT Marseille">
		<img src="{{asset('images/trophee.png')}}" alt="photo trophée de l'ASPTT Marseille">
		<img src="{{asset('images/Trophee-Med-350x283.jpg')}}" alt="photo trophée Méditerranée de l'ASPTT Marseille">
	</div>

{% endblock %}
