{% extends 'base.html.twig' %}

{% block title %}ASPTT Marseille - Formations
{% endblock %}

{% block body %}


	<h1 class="golf-h1">Formations à l’ASPTT Marseille Golf</h1>
	<p class="golf-p">Depuis sa création la section Golf de l’ASPTT Marseille a eu pour objectif d’améliorer le niveau de jeu de ses adhérents.</p>
	<p class="golf-p">
		<u>Les cours de l’ASPTT Marseille Golf:</u>
	</p>
	<ul class="ml-6 list-disc golf-p">
		<li>Plus d’une centaine de membres répartis dans une vingtaine de groupes de six à sept élèves maxi, avec six Pros sur trois golfs, “La Bastide de la Salette”, “Aix-en Provence” et “Château l’Arc”.</li>
		<li>Les cours d’1h30 sont organisés par “semestre” (huit cours de septembre à Décembre, et huit cours de février à juin) ou sur l’année sportive (dix cours de septembre à juin).</li>
		<li>Nous organisons aussi des formation pour la Carte Verte avec les Pros du Golf d’Aix en Provence pour la technique et avec nos arbitres fédéraux pour l’étiquette et les règles.</li>
	</ul>
	<div class="flex flex-wrap justify-center py-4 lg:gap-20 mt-1 ml-2 mr-2 gap-8">
		<img src="{{asset('images/Formation-768x374.jpg')}}" alt="photo formations à l'ASPTT Marseille">
	</div>

{% endblock %}
