// Style texte général

@layer utilities{
    .golf-h1{
        @apply py-4 text-center text-golf-blue text-2xl lg:text-5xl font-medium leading-tight;
    }
    .golf-h2{
        @apply mb-4 mt-4 border-b pb-4 text-xl lg:text-3xl leading-tight text-golf-blue text-center
    }
    .golf-p{
        @apply py-2 ml-10 mr-10 lg:ml-28 lg:mr-28 text-golf-blue;
    }
}

// Style body général

.block-center {
    min-height: calc(100vh - 240px);
}

@media screen and (min-width: 768px) {
    .block-center {
        min-height: calc(100vh - 275px);
    }
    
}

@media screen and (min-width: 1024px) {
    .block-center {
        min-height: calc(100vh - 425px);
    }
    
}


// Style component header+ navbar

.header-image{
    height: 65px;
    background-position: 50%;
    background-image: url("../../public/images/topMenu.jpg");
}

@media screen and (min-width: 768px) {
    .header-image{
        height: 100px;
    }
    
}

@media screen and (min-width: 1024px) {
    .header-image{
        height: 250px;
    }
    
}

@layer components {
    .header {
        @apply relative overflow-hidden bg-cover bg-no-repeat;
    }}
@layer components {
    .golf-nav{
        @apply relative flex min-h-[50px] w-full items-center justify-center bg-golf-blue py-2 text-neutral-600 shadow-lg hover:text-neutral-700 focus:text-neutral-700 dark:bg-neutral-600 dark:text-neutral-200 md:flex-wrap md:justify-center;
    }
    .golf-nav-button{
        @apply text-white transition duration-200 hover:text-neutral-700 hover:ease-in-out focus:text-neutral-700 disabled:text-black/30 motion-reduce:transition-none dark:text-neutral-200 dark:hover:text-neutral-300 dark:focus:text-neutral-300 lg:px-2 [&.active]:text-black/90 dark:[&.active]:text-zinc-400;
    }
    .golf-nav-div{
        @apply flex w-full flex-wrap items-center justify-center px-3;
    }
    .golf-nav-burger-button{
        @apply border-0 bg-transparent px-2 text-xl leading-none transition-shadow duration-150 ease-in-out hover:text-neutral-700 focus:text-neutral-700 dark:hover:text-white dark:focus:text-white lg:hidden;
    }
    .golf-nav-link-ul{
        @apply mr-auto ml-auto flex flex-col lg:flex-row justify-center;
    }
    .golf-nav-link-li{
        @apply mb-4 lg:mb-0 lg:pr-2 mr-auto ml-auto;
    }
}

// Style component card_home

@layer components{
    .card_home-div{
        @apply block w-[30rem] h-[20rem] rounded-lg bg-white shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] dark:bg-neutral-700;
    }
    .card_home-div-img{
        @apply relative overflow-hidden w-full h-[83%];
    }
    .card_home-img{
        @apply rounded-t-lg bg-cover w-full h-full;
    }
    .card_home-div-link{
        @apply absolute bottom-0 left-0 right-0 top-0 h-full w-full overflow-hidden bg-[hsla(0,0%,98%,0.15)] bg-fixed opacity-0 transition duration-300 ease-in-out hover:opacity-100;
    }
    .card_home-div-title{
        @apply p-3 bg-golf-blue rounded-b-lg;
    }
    .card_home-title{
        @apply mb-2 text-xl font-medium leading-tight text-white dark:text-neutral-50 text-center;
    }
}

// Style component carousel + carousel_item

@layer components{
    .carousel-div-indicators{
        @apply absolute bottom-0 left-0 right-0 z-[2] mx-[15%] mb-4 flex list-none justify-center p-0;
    }
    .carousel-button-indicators{
        @apply mx-[3px] box-content h-[3px] w-[30px] flex-initial cursor-pointer border-0 border-y-[10px] border-solid border-transparent bg-white bg-clip-padding p-0 -indent-[999px] opacity-50 transition-opacity duration-[600ms] ease-[cubic-bezier(0.25,0.1,0.25,1.0)] motion-reduce:transition-none;
    }
    .carousel-button-controlsl{
        @apply absolute bottom-0 left-0 top-0 z-[1] flex w-[15%] items-center justify-center border-0 bg-none p-0 text-center text-white opacity-50 transition-opacity duration-150 ease-[cubic-bezier(0.25,0.1,0.25,1.0)] hover:text-white hover:no-underline hover:opacity-90 hover:outline-none focus:text-white focus:no-underline focus:opacity-90 focus:outline-none motion-reduce:transition-none;
    }
    .carousel-button-controlsr{
        @apply absolute bottom-0 right-0 top-0 z-[1] flex w-[15%] items-center justify-center border-0 bg-none p-0 text-center text-white opacity-50 transition-opacity duration-150 ease-[cubic-bezier(0.25,0.1,0.25,1.0)] hover:text-white hover:no-underline hover:opacity-90 hover:outline-none focus:text-white focus:no-underline focus:opacity-90 focus:outline-none motion-reduce:transition-none;
    }
    .carousel-div{
        @apply relative w-full h-[200px] lg:h-[400px] overflow-hidden after:clear-both after:block after:content-[''];
    }
    .carousel-item1-div{
        @apply relative float-left -mr-[100%] w-full h-full transition-transform duration-[600ms] ease-in-out motion-reduce:transition-none;
    }
    .carousel-itemnext-div{
        @apply relative float-left -mr-[100%] hidden w-full h-full transition-transform duration-[600ms] ease-in-out motion-reduce:transition-none;
    }
    .carousel-item-img{
        @apply w-0 h-0 min-w-[50%] min-h-full object-cover;
    }
}

// Style component card_partners

@layer components{
    .card_partners-div{
        @apply block w-[32rem] h-[20rem] rounded-lg bg-white shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] dark:bg-neutral-700;
    }
    .card_partners-div-img{
        @apply relative overflow-hidden w-full h-[83%];
    }
    .card_partners-img{
        @apply rounded-t-lg bg-cover w-full h-full;
    }
    .card_partners-div-link{
        @apply absolute bottom-0 left-0 right-0 top-0 h-full w-full overflow-hidden bg-[hsla(0,0%,98%,0.15)] bg-fixed opacity-0 transition duration-300 ease-in-out hover:opacity-100;
    }
    .card_partners-div-title{
        @apply p-3 bg-golf-blue rounded-b-lg;
    }
    .card_partners-title{
        @apply mb-2 text-xl font-medium leading-tight text-white dark:text-neutral-50 text-center;
    }
}

// Style component card_travel

@layer components{
    .card_travel-div{
        @apply block w-[45rem] h-[40rem] rounded-lg bg-white shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] dark:bg-neutral-700;
    }
    .card_travel-div-img{
        @apply relative overflow-hidden w-full h-[38%] md:h-[60%];
    }
    .card_travel-img{
        @apply rounded-t-lg bg-cover w-full h-full;
    }
    .card_travel-title{
        @apply mb-2 text-xl font-medium leading-tight text-golf-blue text-center;
    }
}
