<div class="card_home-div">
	<div class="card_home-div-img" data-te-ripple-init data-te-ripple-color="light">
		<img class="card_home-img" src="{{cardImage}}" alt={{cardAlt}}/>
		<a href="{{ cardLink }}">
			<div class="card_home-div-link"></div>
		</a>
	</div>
	<div class="card_home-div-title">
		<h5 class="card_home-title">
			{{ cardTitle}}
		</h5>
	</div>
</div>
