<div class="carousel-itemnext-div" data-te-carousel-item style="backface-visibility: hidden">
	<div class="flex w-full h-full">
		<img src="{{carouselItemImage}}" class="carousel-item-img" alt="..."/>
		<img src="{{carouselItemImage2}}" class="carousel-item-img" alt="..."/>
	</div>
</div>
