<!--First item-->
<div class="carousel-item1-div" data-te-carousel-active data-te-carousel-item style="backface-visibility: hidden">
	<div class="flex">
		<img src="{{carouselItemImage}}" class="w-[50%] h-full object-cover" alt="..."/>
		<img src="{{carouselItemImage2}}" class="w-[50%] h-full object-cover" alt="..."/>
	</div>
	<div class="carousel-item-text-div">
		<h5 class="text-xl">{{carouselItemTitle}}</h5>
	</div>
</div>
