<!--Footer container-->
<footer class="bg-neutral-900 text-center text-white h-[125px]">
	<div class="px-6 pt-6 flex flex-row justify-evenly h-[70%]">
		<div class="w-14 h-14 rounded-full border-2 border-white overflow-hidden">
			<img src="{{ asset('images/LogoASPTTMarseille1907.png') }}" alt="Logo ASPTT Golf Marseille" class="w-full h-full">
		</div>
		<div class="mb-6 flex justify-center flex-col">
			<a href="#!">NOUS CONTACTER</a>
			<a href="{{ path('security.registration') }}">S'INSCRIRE</a>
		</div>
		<div class="flex justify-center">
			<a href="https://www.facebook.com/aspttmarseillegolf/" type="button" class="m-1 h-9 w-9 rounded-full border-2 border-white uppercase leading-normal text-white transition duration-150 ease-in-out hover:bg-black hover:bg-opacity-5 focus:outline-none focus:ring-0" data-te-ripple-init data-te-ripple-color="light">
				<svg xmlns="http://www.w3.org/2000/svg" class="mx-auto h-full w-4" fill="currentColor" viewbox="0 0 24 24">
					<path d="M9 8h-3v4h3v12h5v-12h3.642l.358-4h-4v-1.667c0-.955.192-1.333 1.115-1.333h2.885v-5h-3.808c-3.596 0-5.192 1.583-5.192 4.615v3.385z"/>
				</svg>
			</a>

			<a href="https://www.youtube.com/@aspttmarseillegolf" type="button" class="m-1 h-9 w-9 rounded-full border-2 border-white uppercase leading-normal text-white transition duration-150 ease-in-out hover:bg-black hover:bg-opacity-5 focus:outline-none focus:ring-0" data-te-ripple-init data-te-ripple-color="light">
				<svg xmlns="http://www.w3.org/2000/svg" class="mx-auto h-full w-4" fill="currentColor" viewbox="0 0 24 24">
					<path d="M19.615 3.184c-3.604-.246-11.631-.245-15.23 0-3.897.266-4.356 2.62-4.385 8.816.029 6.185.484 8.549 4.385 8.816 3.6.245 11.626.246 15.23 0 3.897-.266 4.356-2.62 4.385-8.816-.029-6.185-.484-8.549-4.385-8.816zm-10.615 12.816v-8l8 3.993-8 4.007z" fill="white"/>
				</svg>
			</a>
		</div>
	</div>

	<!--Copyright section-->
	<div class="p-4 text-center h-[30%]" style="background-color: rgba(0, 0, 0, 0.2)">
		© 2023 Copyright:
		<a class="text-whitehite" href="https://tailwind-elements.com/">ASPTT Golf Marseille</a>
	</div>
</footer>
